.red-text {
	color: red;
}

p {
	font-size: 16px;
	font-family: Monospace;
}

h2 {
	font-family: Lobster;
}

.smaller-image {
	width: 100px;
}

.thick-green-border {
	border-width: 10px;
	border-color: green;
	border-style: solid;
	border-radius: 50%;
}

.silver-background {
	background-color: silver;
}

#cat-photo-form {
	background-color: green;
}